<!DOCTYPE html>
<html>
  <head>
    <title>Add Car</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Add New Car</h2>
      <form method="post">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" /><br /><br />

        <label for="model">Model:</label>
        <input type="text" id="model" name="model" /><br /><br />

        <label for="number_plate">Number Plate:</label>
        <input type="text" id="number_plate" name="number_plate" /><br /><br />

        <br /><br />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
