<!-- add_car.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Add Car</title>
  </head>
  <body>
    <h2>Add New Car</h2>
    <form method="post">
      <label for="brand">Brand:</label><br />
      <input type="string" id="brand" name="brand" /><br />

      <label for="model">Model:</label><br />
      <input type="string" id="model" name="model" /><br />

      <label for="number_plate">Number Plate:</label><br />
      <input type="string" id="number_plate" name="number_plate" /><br />

      <br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
