<!-- add_destination.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Add Destination</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <h2>Add New Destination</h2>
    <form method="post">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="location">Location:</label><br />
      <input type="text" id="location" name="location" /><br />
      <label for="distance">Distance:</label><br />
      <input type="text" id="distance" name="distance" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
