<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css" />
    <title>Destinations List</title>
  </head>
  <body>
    <div class="container">
      <h1>Destinations List</h1>
      <form action="{{ url_for('destinations') }}" method="post">
        <table>
          <thead>
            <tr>
              <th>Select</th>
              <th>Name</th>
              <th>Location</th>
              <!-- Poprawiono literówkę w "Location" -->
              <th>Distance</th>
            </tr>
          </thead>
          <tbody>
            {% for destination in destinations %}
            <tr>
              <td>
                <input
                  type="checkbox"
                  name="delete"
                  value="{{ destination.id }}"
                />
              </td>
              <td>{{ destination.name }}</td>
              <td>{{ destination.location }}</td>
              <td>{{ destination.distance }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class = 'button-container button'>
          <button type="submit">Delete Selected</button>
      </form>
      <button onclick="window.location.href = '/add_destination';">
        Add destination
      </button>
      </div>
  </body>
</html>
