<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trips List</title>
  </head>
  <body>
    <h1>Trips List</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Destionation</th>
          <th>Milage</th>
        </tr>
      </thead>
      <tbody>
        {% for trip in trips %}
        <tr>
          <td>{{ trip.id }}</td>
          <td>{{ trip.date }}</td>
          <td>{{ trip.destination.name }}</td>
          <td>{{ trip.milage }}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </body>
</html>
