<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trips List</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Trips List</h1>
      <div class="form-group">
        <label for="car">CAR:</label>
        <input
          type="text"
          id="car"
          name="car"
          value="{{ number_plate }}"
          readonly
        />
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Destination</th>
            <th>Milage</th>
          </tr>
        </thead>
        <tbody>
          {% for trip in trips %}
          <tr>
            <td>{{ trip.id }}</td>
            <td>{{ trip.date }}</td>
            <td>{{ trip.destination.name }}</td>
            <td>{{ trip.milage }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="form-group">
        <button onclick="window.location.href = '/generate';">Back</button>
        <button onclick="window.location.reload();">Refresh</button>
      </div>
    </div>
  </body>
</html>
