<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Refueling</title>
    <link rel="stylesheet" href={{url_for('static', filename='styles.css')}} />
  </head>
  <body>
    <div class="container">
      <div class="button-container button">
        <button
          style="margin-bottom: 0px"
          onclick="window.location.href = '/';"
        >
          HOME
        </button>
      </div>
      <h1 style="margin-top: 20px">Add New Refueling</h1>
      <form method="post">
        <div class="form-group">
          <label for="car">Car:</label>
          <select id="car" name="car" required>
            {% for car in cars %}
            <option value="{{ car.id }}">
              {{ car.id }} - {{ car.brand }} - {{ car.model }} - {{
              car.number_plate }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            min="2000-01-01"
            max="{{ today }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="volume">Volume:</label>
          <input
            type="number"
            id="volume"
            name="volume"
            min="0"
            max="100"
            step="0.01"
            required
          />
        </div>
        <div class="form-group">
          <label for="destination">Destination:</label>
          <select id="destination" name="destination" required>
            {% for destination in destinations %}
            <option value="{{ destination.id }}">
              {{ destination.id }} - {{ destination.name }} - {{
              destination.location }} - {{ destination.distance }} km
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" style="margin-top: 20px" />
        </div>
      </form>
    </div>
  </body>
</html>
