<!DOCTYPE html>
<html>
  <head>
    <title>Generate MVMR</title>
    <script>
      function checkMilage() {
        var previousMilage = document.getElementById("previous_milage").value;
        var currentMilage = document.getElementById("current_milage").value;

        if (parseInt(currentMilage) <= parseInt(previousMilage)) {
          alert("CURRENT_MILAGE must be greater than PREVIOUS_MILAGE");
          document.getElementById("current_milage").value = ""; // Wyczyszczenie pola, jeśli wartość jest nieprawidłowa
        }
      }
    </script>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Generate new MVMR</h1>
      <div class="form-group">
        <button onclick="window.location.href = '/add_refueling';">
          Add refueling
        </button>
        <button
          style="margin-bottom: 0px"
          onclick="window.location.href = '/';"
        >
          HOME
        </button>
      </div>
    <form method="post">
      <div class="form-group">
        <label for="car_id">Car:</label>
        <select id="car_id" name="car_id" required>
          {% for car in cars %}
          <option value="{{ car.id }}">
            {{ car.id }} - {{ car.brand }} - {{ car.model }} - {{
            car.number_plate }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="month_year">MONTH:</label>
        <input
          type="month"
          id="month_year"
          name="month_year"
          min="2000-01-01"
          max="{{ today }}"
          required
        />
      </div>
      <div class="form-group">
        <label for="previous_milage">PREVIOUS_MILAGE:</label>
        <input
          type="number"
          id="previous_milage"
          name="previous_milage"
          min="0"
          max="1000000"
          step="1"
          required
        />
      </div>
      <div class="form-group">
        <label for="current_milage">CURRENT_MILAGE:</label>
        <input
          type="number"
          id="current_milage"
          name="current_milage"
          min="0"
          max="1000000"
          step="1"
          onblur="checkMilage()"
          required
        />
      </div>
      <div class="form-group">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
