<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trips List</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="vertical-align-middle">
      <table
        border="1"
        class="fixed-width-table"
        style="margin-top: 50px"
        id="Table"
      >
        <thead>
          <tr>
            <td colspan="6" style="text-align: center">
              Monthly Vehicle Milage Record
            </td>
            <td colspan="2" style="text-align: center">{{month}}/{{year}}</td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center">Number Plate</td>
            <td colspan="4" style="text-align: center">{{number_plate}}</td>
          </tr>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Destination</th>
            <th>From</th>
            <th>To</th>
            <th>Distance</th>
            <th>Milage</th>
            <th>Signature</th>
          </tr>
        </thead>
        <tbody>
          {% for trip in trips %}
          <tr>
            <td>{{ trip.id }}</td>
            <td>{{ trip.date }}</td>
            <td>{{ trip.destination.name }}</td>
            <td>Main</td>
            <td>{{trip.destination.location}}</td>
            <td>{{trip.destination.distance}}</td>
            <td>{{ trip.milage }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="container">
        <div class="form-group">
          <button onclick="window.location.href = '/generate';">Back</button>
          <button onclick="window.location.reload();">Refresh</button>
          <button onclick="printTable()">Print Table</button>

          <script>
            function printTable() {
              // Automatically select the table content
              var table = document.getElementById("Table");
              var range = document.createRange();
              range.selectNodeContents(table);
              var selection = window.getSelection();
              selection.removeAllRanges();
              selection.addRange(range);

              // Open the printing window
              window.print();
            }
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
